#blogcontainer{
    border: 20px solid #a2a2a2;
    margin: 20px auto;
    padding: 20px ;
    width: 80% ;
    font-family: 16px;
    max-width: 700px;
    font-size: 16px;
}
#blogcontainer h2{
    font-size: 2rem;
}
#blogcontainer .quote{
    border-left: 5px solid #a2a2a2 ;
    padding-left: 5px ;
}
#blogcontainer .date{
    color: #349fb2;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
#blogcontainer hr{
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(256,256,256,1)
}